<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-rabbitmq" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>RabbitMQ</name>

  <dependency id="cordova-plugin-device" />
  <dependency id="cordova-plugin-jcore" />

  <js-module name="RabbitMQPlugin" src="www/RabbitMQPlugin.js">
    <clobbers target="cordova.plugins.RabbitMQPlugin" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="RabbitMQPlugin">
        <param name="android-package" value="com.xiaoji.cordova.plugin.rabbitmq.RabbitMQPlugin" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*" mode="merge">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*" mode="merge">
      <service
        android:name="com.xiaoji.android.rabbitmq.RabbitMQClientService"
        android:enabled="true"
        android:exported="true"
        android:process=":rabbitmq"
        android:permission="android.permission.INTERNET"
        android:permission="android.permission.ACCESS_NETWORK_STATE">
      </service>
      <receiver
              android:name="com.xiaoji.android.rabbitmq.RabbitMQEventReceiver"
              android:enabled="true"
              android:exported="true">
          <intent-filter>
              <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
          </intent-filter>
      </receiver>
      <receiver
              android:name="com.xiaoji.cordova.plugin.rabbitmq.RabbitMQReceiver"
              android:enabled="true"
              android:exported="true">
          <intent-filter>
              <action android:name="com.xiaoji.rabbitmq.MESSAGE_RECEIVED" />
          </intent-filter>
      </receiver>
    </config-file>

    <lib-file src="libs/android/amqp-client-4.11.2.jar" />

    <source-file src="src/android/com/xiaoji/android/rabbitmq/RabbitMQClientService.java" target-dir="src/com/xiaoji/android/rabbitmq" />
    <source-file src="src/android/com/xiaoji/android/rabbitmq/RabbitMQInterface.java" target-dir="src/com/xiaoji/android/rabbitmq/" />
    <source-file src="src/android/com/xiaoji/android/rabbitmq/RabbitMQEventReceiver.java" target-dir="src/com/xiaoji/android/rabbitmq/" />
    <source-file src="src/android/RabbitMQPlugin.java" target-dir="src/com/xiaoji/cordova/plugin/rabbitmq" />
    <source-file src="src/android/RabbitMQReceiver.java" target-dir="src/com/xiaoji/cordova/plugin/rabbitmq" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="cordova-plugin-rabbitmq">
        <param name="ios-package" value="cordova-plugin-rabbitmq" />
      </feature>
    </config-file>
    <source-file src="src/ios/RabbitMQPlugin.m" />
  </platform>
</plugin>
