<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-rabbitmq" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>RabbitMQ</name>

  <dependency id="cordova-plugin-device" />
  <dependency id="cordova-plugin-jcore" />

  <js-module name="RabbitMQPlugin" src="www/RabbitMQPlugin.js">
    <clobbers target="cordova.plugins.RabbitMQPlugin" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="RabbitMQPlugin">
        <param name="android-package" value="com.xiaoji.cordova.plugin.rabbitmq.RabbitMQPlugin" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
      <permission android:name="$PACKAGE_NAME.permission.MESSAGE_RECEIVED" android:protectionLevel="signature" />
      <uses-permission android:name="$PACKAGE_NAME.permission.MESSAGE_RECEIVED" />

      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application" mode="merge">
      <service
        android:name="com.xiaoji.android.rabbitmq.RabbitMQClientService"
        android:enabled="true"
        android:exported="false"
        android:permission="android.permission.INTERNET">
      </service>
    </config-file>

    <lib-file src="libs/android/amqp-client-4.11.2.jar" />
    <lib-file src="libs/android/slf4j-api-1.7.26.jar" />

    <source-file src="src/android/com/xiaoji/android/rabbitmq/RabbitMQClientService.java" target-dir="src/com/xiaoji/android/rabbitmq" />
    <source-file src="src/android/com/xiaoji/android/rabbitmq/RabbitMQInterface.java" target-dir="src/com/xiaoji/android/rabbitmq/" />
    <source-file src="src/android/com/xiaoji/android/rabbitmq/RabbitMQEventReceiver.java" target-dir="src/com/xiaoji/android/rabbitmq/" />
    <source-file src="src/android/RabbitMQPlugin.java" target-dir="src/com/xiaoji/cordova/plugin/rabbitmq" />
    <source-file src="src/android/RabbitMQReceiver.java" target-dir="src/com/xiaoji/cordova/plugin/rabbitmq" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="RabbitMQPlugin">
        <param name="ios-package" value="RabbitMQPlugin" />
      </feature>
    </config-file>
    <header-file src="src/ios/RabbitMQPlugin.h" />
    <source-file src="src/ios/RabbitMQPlugin.m" />

    <framework src="src/libs/ios/CocoaAsyncSocket.framework" embed="true" custom="true" />
    <framework src="src/libs/ios/JKVValue.framework" embed="true" custom="true" />
    <framework src="src/libs/ios/RMQClient.framework" embed="true" custom="true" />
  </platform>
</plugin>
